.main_title_svg {
    animation-play-state: paused;
    
    svg {

        * {
            animation: stroke 1.2s ease-in;
            animation-fill-mode: forwards;
            animation-play-state: inherit;
            
            @keyframes stroke {
                0%   {
                    stroke-dashoffset: 500;
                }
                70% {
                    fill-opacity: 0.2;
                }
                100% {
                    fill-opacity: 1;
                    stroke-dashoffset: 0;
                }
            }
        }
        
        $num-children: 30;
        @for $i from 1 through $num-children {
            & > *:nth-child(#{$i}) {
                animation-delay: (0.09*(($i)-1))+0s;
            }
        }

    } 

};
