.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20vw;
    margin-top: 20vw;
}

.body {
    font-size: 5vw;
}

.lineMask {
    overflow: hidden;
}

.lineMask p {
    margin: 0px;
    font-weight: 700;
}