
.mainImg {
    width: 100vw;
    height: 80vh;
    position: relative;
    cursor: pointer;
    margin-bottom: -30vh;
    transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: top, filter;
    z-index: -5;

    /* 레이아웃 변경따라 추가됨 */
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 0;

    &:hover {
        filter: brightness(1.3);
    }

    &>img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: transparent;
        mix-blend-mode: plus-lighter;
        filter: blur(20px) brightness(0.5) grayscale(1);
        transform: scale(1.01);

        //animation: slidedown 2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
        //mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, transparent 80%);
    }

    @keyframes slidedown {
        0% {
            top: -30%;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }
}