.bgImg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    
    &>img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: transparent;
            transform-origin: center;
            mix-blend-mode: plus-lighter;
            filter: blur(20px) brightness(0.5) grayscale(1);
            transform: scale(1.01);
        }
}

.topImgDiv {
    position: relative;
    width: 100%;

    .topImgTitle {
        background-clip: text;
        color: black;
        font-size: 7rem;
        line-height: .9;
        font-weight: 800;
        text-align: center;
        z-index: 10;
    }

    .topImgImg {
        position: relative;
        width: 100%;
        height: 80vh;
        overflow: hidden;
    }
}

.headerbox {
    position:relative;
    width: 100%;

    header {
        &>* {
                transition: opacity .2s ease-in-out;
                opacity: .4;
            }
        
            &:hover>* {
                opacity: 1;
                transition-duration: .05s;
            }
        
        h1 {
            font-size: 1.2em;
            line-height: 1.1;
        }
        h1, h2 {
            font-weight: 800;
        }
        h2 {
            margin-bottom: .2em;
        }
        ol {
            list-style-type:'- '
        }
        a {
            font-weight: 600;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                color: oklch(var(--p));
            }
            svg {
                width: .7em;
                height: .7em;
                    display: inline-block;
                    vertical-align: text-top;
                    stroke: oklch(var(--p));;
                }
        }
        time {
            word-break: keep-all;
        }

        p {
            line-height: 1.4;
        }
    }
}

.bodybox {
    width: 500%;
}