.circle_container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0;
    transform-origin: center;
    border-radius: 100%;
    transition: transform .1s linear;
    /* 
    animation: circle_spin 20s normal infinite linear;
    */
}

.circle {
    position: absolute;
    top: 0;
    left: calc(50% - .5em);
    display: inline-block;
    text-align: center;
    width: 1em;
    height: 50%;
    transform: scale(.9); /* 인라인에서 결정됨 */
    transform-origin: center bottom;
    line-height: 1;
}

@keyframes circle_spin {
    from {
        transform: translate(-50%) rotate(0deg);
    }

    to {
        transform: translate(-50%) rotate(360deg);
    }
}