:root {
  --width: 1920px;
  --width-m: 1280px;
  --width-s: 1024px;

--background: #E0E2E2;
  --gray: #768496;
  --color: #3D415C;
  --accent: #0000F5;

    /*
--background: #fffff2;
  --gray: #41D3BD;
  --color: #791E94;
  --accent: #DE6449;

  --background: #E1D6B8;
    --gray: #95E1DB;
    --color: #B68355;
    --accent: #0083A7;
    --point: #FD5964;
    
    --background: #e2e2e2;
    --gray: #605f5e;
    --color: #630a0a;
    --accent: #3643fb;

  --background: #fbfbff;
    --gray: #657ed4;
    --color: #0d0106;
    --accent: #ff331f;

  --background: #e2e2e2;
    --gray: #605f5e;
    --color: #0a2463;
    --accent: #fb3640;


  --background: #fffff5;
    --gray: #ffda8e;
    --color: #5c196b;
    --accent: #0000F5;

  --background: #E0E2E2;
  --gray: #768496;
  --color: #3D415C;
  --accent: #0000F5;
  */
}

* {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  color: inherit;
}

html {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  color: var(--color);
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: var(--background);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
  position: relative;
  max-width: var(--width)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3D415C;
    --gray: #768496;
    --color: #E0E2E2;
    --accent: #0000F5;
  }
}

h1,
h2,
h3 {
  font-weight: 600;
}
