:root {
  --background: #E0E2E2;
  --gray: #768496;
  --color: #3D415C;
  --accent: #0000F5;

    /*
--background: #fffff2;
  --gray: #41D3BD;
  --color: #791E94;
  --accent: #DE6449;

  --background: #E1D6B8;
    --gray: #95E1DB;
    --color: #B68355;
    --accent: #0083A7;
    --point: #FD5964;
    
    --background: #e2e2e2;
    --gray: #605f5e;
    --color: #630a0a;
    --accent: #3643fb;

  --background: #fbfbff;
    --gray: #657ed4;
    --color: #0d0106;
    --accent: #ff331f;

  --background: #e2e2e2;
    --gray: #605f5e;
    --color: #0a2463;
    --accent: #fb3640;


  --background: #fffff5;
    --gray: #ffda8e;
    --color: #5c196b;
    --accent: #0000F5;

  --background: #E0E2E2;
  --gray: #768496;
  --color: #3D415C;
  --accent: #0000F5;
  */
}

* {
  -webkit-font-smoothing: antialiased;
  color: inherit;
}

*::before,
*::after {
  font-family: inherit;
}

html {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: oklch(var(--pc));
}

::-webkit-scrollbar-thumb {
    background: oklch(var(--p));
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: oklch(var(--pc));
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

h1,
h2,
h3 {
  font-weight: 600;
}
