.listdiv {
    width: 100%;
    height: 5em;
    max-height: 5em;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);

    &:hover {
        height: 15em;
        max-height: 15em;
    }

    .listlink {
        width: 100%;
        height: inherit;
        position: inherit;
        display: flex;
        flex: 3 1 0%;

        &:hover {
            .title {
                font-weight: 800;
                .titlespan {
                font-size: 3rem;
                }
            }
        }
    }

    @mixin common {
        flex: 1 1 0%;
        padding: .5em 0;
    }

    .category {
        @include common;

        .ctspan {
            font-size: 1.1em;
            font-weight: 500;
        }

        .ctmore {
            font-size: .8em;
            font-weight: 300;
            transition: all .3s linear;
            position: relative;
            color: oklch(var(--p));
            display: none;
        }

        &:hover {
            .ctspan {
                color: oklch(var(--p));
                font-weight: 800;
            }

            .ctmore {
                display: block;
            }
        }

        .categoryLink {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: .2em;
            width: 100%;
            height: 100%;
        }
    }

    .title {
        @include common;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .2em;
        width: 100%;
        height: 100%;
        font-weight: 500;

        .titlespan {
            font-size: 1.1em;
            word-break: keep-all;
            line-height: 1.2;
            max-width: 90%;
        }

        .titlemore {
            font-weight: 300;
            font-size: .9em;
            display: none;
            color: oklch(var(--p));
        }
    }
    &> a:hover {
        .titlespan {
            color: oklch(var(--p))
        }
        .titlemore {
                display: block;
            }
    }

    .thumb {
        @include common;
        position: relative;

        div {
            overflow: hidden;
            bottom: 1em;
            left: 0;
            position: absolute;
            height: 15em;
            img {
                opacity: 0.2;
                transition: all .6s;
                transform: scale(1.1);
                filter: grayscale(1) blur(3px);
                padding-top: 1em;
            }
        }
    }

    &:hover .thumb img {
        padding-bottom: 0em;
        opacity: 1;
        transform: scale(1.01);
        filter: none;
    }

    .date {
        @include common;
        font-size: .9em;
        font-weight: 300;
    }
}